*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/accountbook/build/outputs/aar/accountbook-debug.aar
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1$1$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1$1$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/accountBookActivity$onCreate$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/accountBookActivity.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/accountBookActivity.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/AccountBookActivityKt$DefaultPreview$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/AccountBookActivityKt$DefaultPreview$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/AccountBookActivityKt$Greeting$1$1$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/AccountBookActivityKt$Greeting$1$1$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/AccountBookActivityKt$Greeting$2.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/AccountBookActivityKt$Greeting$2.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/AccountBookActivityKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/AccountBookActivityKt.dex
/accountbook/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/activity_accout_book_o.xml
/accountbook/build/intermediates/packaged_res/debug/layout/activity_accout_book_o.xml
/accountbook/build/intermediates/data_binding_layout_info_type_package/debug/out/activity_accout_book_o-layout.xml
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/databinding/ActivityAccoutBookOBinding.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/databinding/ActivityAccoutBookOBinding.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/databinding/ActivityAccoutBookOBinding.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/databinding/ActivityAccoutBookOBinding.dex
/accountbook/build/generated/data_binding_base_class_source_out/debug/out/com/example/accountbook/databinding/ActivityAccoutBookOBinding.java
/accountbook/build/intermediates/data_binding_base_class_logs_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-binding_classes.json
/accountbook/build/intermediates/data_binding_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-br.bin
/accountbook/build/intermediates/data_binding_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-setter_store.json
/accountbook/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/accountbook/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/blank_fragment.xml
/accountbook/build/intermediates/packaged_res/debug/layout/blank_fragment.xml
/accountbook/build/intermediates/data_binding_layout_info_type_package/debug/out/blank_fragment-layout.xml
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/BlankFragment$Companion.class
/accountbook/build/tmp/kotlin-classes/debug/com/example/accountbook/BlankFragment$Companion.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/BlankFragment$Companion.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/BlankFragment$Companion.dex
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/BlankFragment.class
/accountbook/build/tmp/kotlin-classes/debug/com/example/accountbook/BlankFragment.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/BlankFragment.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/BlankFragment.dex
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/databinding/BlankFragmentBinding.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/databinding/BlankFragmentBinding.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/databinding/BlankFragmentBinding.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/databinding/BlankFragmentBinding.dex
/accountbook/build/generated/data_binding_base_class_source_out/debug/out/com/example/accountbook/databinding/BlankFragmentBinding.java
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/BlankViewModel.class
/accountbook/build/tmp/kotlin-classes/debug/com/example/accountbook/BlankViewModel.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/BlankViewModel.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/BlankViewModel.dex
/accountbook/build/intermediates/javac/debug/classes/androidx/databinding/library/baseAdapters/BR.class
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/BR.class
/accountbook/build/generated/ap_generated_sources/debug/out/androidx/databinding/library/baseAdapters/BR.java
/accountbook/build/generated/ap_generated_sources/debug/out/com/example/accountbook/BR.java
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/BuildConfig.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/BuildConfig.dex
/myChartViewLibrary/build/.transforms/74398b1dc42574e116a5297b4f239f9f/transformed/debug/com/example/mychartviewlibrary/calendar/data/CalendarFilter.dex
/accountbook/build/intermediates/aar_main_jar/debug/classes.jar
/myChartViewLibrary/build/intermediates/aar_main_jar/debug/classes.jar
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ui/theme/ColorKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ui/theme/ColorKt.dex
/accountbook/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.example.accountbook-binding_classes.json
/accountbook/build/intermediates/data_binding_artifact/debug/com.example.accountbook-br.bin
/accountbook/build/intermediates/data_binding_artifact/debug/com.example.accountbook-setter_store.json
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt$lambda-1$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt$lambda-1$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt$lambda-2$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt$lambda-2$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ComposableSingletons$AccountBookActivityKt.dex
/accountbook/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/content_accout_book_activity_o.xml
/accountbook/build/intermediates/packaged_res/debug/layout/content_accout_book_activity_o.xml
/accountbook/build/intermediates/data_binding_layout_info_type_package/debug/out/content_accout_book_activity_o-layout.xml
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/databinding/ContentAccoutBookActivityOBinding.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/databinding/ContentAccoutBookActivityOBinding.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/databinding/ContentAccoutBookActivityOBinding.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/databinding/ContentAccoutBookActivityOBinding.dex
/accountbook/build/generated/data_binding_base_class_source_out/debug/out/com/example/accountbook/databinding/ContentAccoutBookActivityOBinding.java
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/DataBinderMapperImpl$InnerBrLookup.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/DataBinderMapperImpl$InnerBrLookup.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/DataBinderMapperImpl$InnerBrLookup.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/DataBinderMapperImpl$InnerBrLookup.dex
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/DataBinderMapperImpl$InnerLayoutIdLookup.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/DataBinderMapperImpl$InnerLayoutIdLookup.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/DataBinderMapperImpl$InnerLayoutIdLookup.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/DataBinderMapperImpl$InnerLayoutIdLookup.dex
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/DataBinderMapperImpl.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/DataBinderMapperImpl.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/DataBinderMapperImpl.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/DataBinderMapperImpl.dex
/accountbook/build/generated/ap_generated_sources/debug/out/com/example/accountbook/DataBinderMapperImpl.java
/accountbook/build/intermediates/javac/debug/classes/androidx/databinding/DataBindingComponent.class
/accountbook/build/generated/ap_generated_sources/debug/out/androidx/databinding/DataBindingComponent.java
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/DataBindingTriggerClass.class
/accountbook/build/generated/data_binding_trigger/debug/com/example/accountbook/DataBindingTriggerClass.java
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/desugar_graph.bin
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/desugar_graph.bin
/myChartViewLibrary/build/.transforms/74398b1dc42574e116a5297b4f239f9f/transformed/debug/com/example/mychartviewlibrary/calendar/DoingThingsListener.dex
/accountbook/build/intermediates/merged_java_res/debug/feature-accountbook.jar
/myChartViewLibrary/build/intermediates/merged_java_res/debug/feature-myChartViewLibrary.jar
/accountbook/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/fragment_first.xml
/accountbook/build/intermediates/packaged_res/debug/layout/fragment_first.xml
/accountbook/build/intermediates/data_binding_layout_info_type_package/debug/out/fragment_first-layout.xml
/accountbook/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/fragment_second.xml
/accountbook/build/intermediates/packaged_res/debug/layout/fragment_second.xml
/accountbook/build/intermediates/data_binding_layout_info_type_package/debug/out/fragment_second-layout.xml
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/databinding/FragmentFirstBinding.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/databinding/FragmentFirstBinding.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/databinding/FragmentFirstBinding.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/databinding/FragmentFirstBinding.dex
/accountbook/build/generated/data_binding_base_class_source_out/debug/out/com/example/accountbook/databinding/FragmentFirstBinding.java
/accountbook/build/intermediates/javac/debug/classes/com/example/accountbook/databinding/FragmentSecondBinding.class
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/databinding/FragmentSecondBinding.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/databinding/FragmentSecondBinding.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/databinding/FragmentSecondBinding.dex
/accountbook/build/generated/data_binding_base_class_source_out/debug/out/com/example/accountbook/databinding/FragmentSecondBinding.java
/myChartViewLibrary/build/.transforms/74398b1dc42574e116a5297b4f239f9f/transformed/debug/com/example/mychartviewlibrary/calendar/list/ITask.dex
/accountbook/build/intermediates/compiled_local_resources/debug/out/layout_activity_accout_book_o.xml.flat
/accountbook/build/intermediates/compiled_local_resources/debug/out/layout_blank_fragment.xml.flat
/accountbook/build/intermediates/compiled_local_resources/debug/out/layout_content_accout_book_activity_o.xml.flat
/accountbook/build/intermediates/compiled_local_resources/debug/out/layout_fragment_first.xml.flat
/accountbook/build/intermediates/compiled_local_resources/debug/out/layout_fragment_second.xml.flat
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/LiveLiterals$AccountBookActivityKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/LiveLiterals$AccountBookActivityKt.dex
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/LiveLiterals$BlankFragmentKt.class
/accountbook/build/tmp/kotlin-classes/debug/com/example/accountbook/LiveLiterals$BlankFragmentKt.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/LiveLiterals$BlankFragmentKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/LiveLiterals$BlankFragmentKt.dex
/accountbook/build/intermediates/runtime_library_classes_dir/debug/com/example/accountbook/LiveLiterals$BlankViewModelKt.class
/accountbook/build/tmp/kotlin-classes/debug/com/example/accountbook/LiveLiterals$BlankViewModelKt.class
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/LiveLiterals$BlankViewModelKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/LiveLiterals$BlankViewModelKt.dex
/accountbook/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/myChartViewLibrary/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/myChartViewLibrary/build/.transforms/74398b1dc42574e116a5297b4f239f9f/transformed/debug/com/example/mychartviewlibrary/calendar/MyCalendarView$initializeCalendar$10.dex
/myChartViewLibrary/build/.transforms/74398b1dc42574e116a5297b4f239f9f/transformed/debug/com/example/mychartviewlibrary/calendar/MyCalendarView$setSwipeToRecyclerView$itemTouchCallback$1.dex
/myChartViewLibrary/build/outputs/aar/myChartViewLibrary-debug.aar
/accountbook/build/intermediates/packaged_res/debug/navigation/nav_graph.xml
/accountbook/build/intermediates/compiled_local_resources/debug/out/navigation_nav_graph.xml.flat
/accountbook/build/intermediates/data_binding_export_class_list/debug/out
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/results.bin
/accountbook/build/.transforms/135e943bd98e0e4f2555d9ed3412bd2b/results.bin
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/results.bin
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ui/theme/ShapeKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ui/theme/ShapeKt.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ui/theme/ThemeKt$MyNotepadTheme$1.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ui/theme/ThemeKt$MyNotepadTheme$1.dex
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ui/theme/ThemeKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ui/theme/ThemeKt.dex
/accountbook/build/intermediates/annotations_typedef_file/debug/typedefs.txt
/myChartViewLibrary/build/intermediates/annotations_typedef_file/debug/typedefs.txt
/accountbook/build/.transforms/26cf2908924e4e7c1871a88e3b3b3b87/transformed/debug/com/example/accountbook/ui/theme/TypeKt.dex
/accountbook/build/.transforms/a8539d0954352d4b63f7d5369fa06315/transformed/debug/com/example/accountbook/ui/theme/TypeKt.dex
/accountbook/build/intermediates/incremental/packageDebugResources/merged.dir/values-land/values-land.xml
/accountbook/build/intermediates/packaged_res/debug/values-land/values-land.xml
/accountbook/build/intermediates/incremental/packageDebugResources/merged.dir/values-w600dp-v13/values-w600dp-v13.xml
/accountbook/build/intermediates/packaged_res/debug/values-w600dp-v13/values-w600dp-v13.xml
/accountbook/build/intermediates/incremental/packageDebugResources/merged.dir/values-w1240dp-v13/values-w1240dp-v13.xml
/accountbook/build/intermediates/packaged_res/debug/values-w1240dp-v13/values-w1240dp-v13.xml
